/* @theme A4-Portrait */

@import 'default';

section {
  /* A4縦向き (デフォルト) */
  width: 210mm;
  height: 297mm;
}

.landscape {
  /* 横向き */
  width: 297mm;
  height: 210mm;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

li {
  font-size: 20px;
}
